body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #000000;
  text-decoration: none;
  margin: 5px;
}

nav {
	margin:0 auto;
	width: auto;
	text-align: center;
}

.posts {background-color: #666666; 
		color: white;
		font-size: 12px;
		width 400px;
		border-color: black;  
		border: 1px;
		padding: 10px;
	}

.name {background-color: #666666; 
	   color: white;
	   font-size: 18px;
		width 400px;  
		border-color: black;  
		border-width: 1px;
		margin-top: 10px;