body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #000000;
  text-decoration: none;
  margin: 5px;
}

nav {
	margin:0 auto;
	width: auto;
	text-align: center;
}

.posts {
	background-color: #888888; 
	color: white;
	font-size: 12px;
	width 400px;
	border-color: black;  
	border-radius: 5px;
	padding: 10px;
	margin:10px auto;
}

#postButton {
	width: 150px;
	height: 40px;
	background: #70A0FF;
	font-size: 20px;
	color: white;
	border-radius: 5px;
	clear: left;
}

form {
	width: 100%;
}

#postHolder {
	width: 75%;
	margin:0 auto;
}
		
#post {
	float: left;
	width: 100%;
	height: 50px;
}