extends layout

block content
	h1= title
	p Welcome to #{title}
	p
	p Register...
	form
	p Enter User Name:
		input(type='text', name='username')
	p Enter Password:
		input(type='text', name='password')
	button Submit

	p
	p Welcome (UserName)!
	p
	p Latest Posts Here
	p 
	p Latest
	p Next Latest
	p ... and so on
