extends layout

block content
	h1= title
	p Welcome to #{title}
	p
	p Register...
	form
		p Enter User Name:
			input(type='text', name='username')
		p Enter Password:
			input(type='text', name='password')
		p Enter email:
			input(type='text', name='email')
		button Submit

	p Welcome (UserName)!

	p Latest Posts Here

	p Latest
	p Next Latest
	p ... and so on