extends layout

block content
	h1= title
	p Welcome to #{title}

	p If you are registered, please sign in.
	form
		p Enter User Name:
			input(type='text', name='usernameRegistered', value=uName)
		p Enter Password:
			input(type='text', name='passwordRegistered', value=uPassword)
		button Submit
	!= message

	link(rel='stylesheet', href='/stylesheets/style.css')