extends layout

block content
	h1= title 
	h3 Need a password reset? 
	form(method='post')
		p Enter your e-mail address:
			input(type='text', name='userEmail', value=uEmail)
		button Send Password Reset Request
	p After sending, check your e-mail for password reset link.  Respond within 24 hours.
	!= message