extends layout

block content
	h1= title 
	h3 Write a post.
	button#logout Logout
	form#postForm
		#postHolder
			p Just write some text.
			textarea#post(name='post', value='')
			button#postButton Publish
	!= message
	!= text
	script(src='/javascripts/logoutscript.js')